.good-item {
  flex: 1;
  display: flex;
  margin: 0 1em;

  &:not(:first-child) {
    margin: 1em;
  }

  & .good-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .good-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1em;

    & .good-description {
      margin: 0;
    }
  }

  & .buy-button-container {
    display: flex;
    justify-content: center;

    &.hide {
      display: none;
    }

    & .buy-button {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      color: #fb5712;
      background: white;
      border: 1px solid #fb5712;
      outline: 0;
      cursor: pointer;

      &:active {
        transform: scale(0.95, 0.95);
      }
    }
  }
}